**
!package.json
!package-lock.json
!apps
!apps/api
!apps/api/package.json
!apps/api/src
!apps/api/src/**
!apps/web
!apps/web/package.json
!apps/web/public
!apps/web/public/pet_breeds_COMPLETE_1 - Copy.xlsx
!Dockerfile
**/.env*
**/*service-account*.json
**/*.pem
